html {
  font-size: 100%;
}

body {
  font-size: 1.125rem;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  color: var(--color-body);
}

h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  margin: calc(var(--spacing) * 1.5) 0 calc(var(--spacing) * 0.5);
  word-wrap: break-word;
}

h1 {
  font-size: 42px;
  line-height: 48px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 56px;
    line-height: 64px;
  }
}

h2 {
  font-size: 34px;
  line-height: 48px;
}

@media (min-width: 992px) {
  h2 {
    font-size: 45px;
    line-height: 60px;
  }
}

h3 {
  font-size: 30px;
  line-height: 38px;
}

@media (min-width: 992px) {
  h3 {
    font-size: 34px;
  }
}

h4 {
  font-size: 28px;
  line-height: 36px;
  margin: var(--spacing) 0 calc(var(--spacing) * 0.5);
}

@media (min-width: 992px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-size: 22px;
  line-height: 36px;
  margin: var(--spacing) 0 calc(var(--spacing) * 0.5);
}

@media (min-width: 992px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: 992px) {
  h6 {
    font-size: 20px;
  }
}

p {
  margin: 0 0 var(--spacing);
  padding: 0;
}

time {
  display: block;
  font-size: 75%;
  margin: 0 0 calc(var(--spacing) * 0.5);
  color: var(--color-body-alt);
}
