:root {
  --spacing: 24px;

  --color-body: #000000;
  --color-body-alt: #666666;
  --color-body--background: #ffffff;

  --color-link: #0074d9;
  --color-link-visited: #660099;

  --color-note: #eef2f8;
  --color-note-border: #e1e6ed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-body: #f1f2f4;
    --color-body-alt: #94959d;
    --color-body--background: #272f39;

    --color-link: #cad900;
    --color-link-visited: #d800a2;

    --color-note: #533f60;
    --color-note-border: #735186;
  }
} */